<div class="bg-gray_main border-b border-gray-300 py-3">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <img src="assets/images/logo_sys_2.png" width="140" alt="GRS 1.0">
      <div class="flex items-center">
        <!-- <div class="border-r border-gray-400 me-2 pe-2">
          <ng-icon name="heroBellAlertSolid" class="scale-75"></ng-icon>
        </div> -->
        <ng-icon name="heroUserCircleSolid" class="scale-75"></ng-icon>
        <ng-container *ngIf="user$ | async as user">
          <span class="ms-1">{{ user.name }}</span>
        </ng-container>
        <div class="flex relative ms-2" clickOutside (clickOutside)="closeMenu()">
          <button type="button" (click)="toggleMenu()">
            <!-- <ng-icon name="heroEllipsisVerticalSolid" class="pt-1 ms-2"></ng-icon> -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition-all" [class.rotate-180]="isShowMenu$ | async"
              viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div class="absolute right-0 mt-8 w-48 bg-white rounded-lg shadow-lg" *ngIf="isShowMenu$ | async">
            <ul class="py-2">
              <li>
                <button (click)="logout()" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full text-left">
                  Cerrar Sesión
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
