<div class="bg-gray_main border-b border-gray-300 py-3">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <img src="assets/images/logo_sys_2.png" width="140" alt="GRS 1.0">
      <div class="flex items-center">
        <!-- <div class="border-r border-gray-400 me-2 pe-2">
          <ng-icon name="heroBellAlertSolid" class="scale-75"></ng-icon>
        </div> -->
        <ng-icon name="heroUserCircleSolid" class="scale-75"></ng-icon>
        <span class="ml-2">Juan Perez</span>
      </div>
    </div>
  </div>
</div>
