<div class="sm:w-full lg:w-96 relative">
  <div class="flex items-center justify-center bg-main_dark w-24 h-24 rounded-full p-5 z-10 relative mx-auto">
    <img src="assets/images/isotipo.png" class="w-full" alt="Grupo de resguardo y seguridad">
  </div>
  <div class="bg-white -mt-10 pt-14 pb-5 px-5">
    <form [formGroup]="myForm">
      <div>
        <div class="border-b border-gray-900/10">
          <img src="assets/images/logo_sys.png" class="mx-auto scale-75" alt="GRS 1.0">
          <div class="mt-5">
            <div class="w-full mb-6 top-3 relative">
              <label class="absolute -top-5 bg-white left-1 px-1 pt-2 text-sm text-gray-400 font-semibold">Email</label>
              <input type="text" class="border border-gray-300 py-2 ps-2 pe-7 rounded w-full" formControlName="email" [ngClass]="{'border-[#D81E0B]': myForm.get('email')?.touched && myForm.get('email')?.invalid}">
              <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.invalid" class="mt-1">
                <span class="text-[#D81E0B] text-sm font-medium" *ngIf="myForm.get('email')?.errors?.['required']">El email es requerido</span>
                <span class="text-[#D81E0B] text-sm font-medium" *ngIf="myForm.get('email')?.errors?.['email']">El email es inválido</span>
              </div>
              <div class="absolute top-2.5 right-1 pointer-events-none">
                <ng-icon name="HeroUserSolid" class="scale-75 text-gray_dark_600"></ng-icon>
              </div>
            </div>
            <div class="w-full mb-5 top-3 relative">
              <label class="absolute -top-5 bg-white left-1 px-1 pt-2 text-sm text-gray-400 font-semibold">Contraseña</label>
              <input type="password" class="border border-gray-300 py-2 ps-2 pe-7 rounded w-full" formControlName="password" [ngClass]="{'border-[#D81E0B]': myForm.get('password')?.touched && myForm.get('password')?.invalid}">
              <div *ngIf="myForm.get('password')?.touched && myForm.get('password')?.invalid" class="mt-1">
                <span class="text-[#D81E0B] text-sm font-medium">La contraseña es requerida</span>
              </div>
              <div class="absolute top-2.5 right-1 pointer-events-none">
                <ng-icon name="heroKeySolid" class="scale-75 text-gray_dark_600"></ng-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <button type="button"
          class="w-full rounded-md bg-main_dark px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-main transition-colors" (click)="onSubmit()">Ingresar</button>
        <div class="text-center mt-2">
          <a href="#" class="text-sm text-gray_dark_600">¿Has olvidado tu contraseña?</a>
        </div>
      </div>
    </form>
  </div>
</div>
