<div class="flex flex-wrap -mx-4">
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-main w-full h-full p-6" routerLink="/tareo">
      <h3 class="text-lg">Módulo de</h3>
      <H2 class="text-main text-3xl">TAREO</H2>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-gray_dark_600 w-full h-full p-6">
      <h3 class="text-lg">Módulo de</h3>
      <H2 class="text-gray_dark_600 text-3xl">PAGO</H2>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 transition-colors border-t-4 border-secondary w-full h-full p-6" routerLink="/mantenimiento">
      <h3 class="text-lg">Módulo de</h3>
      <H2 class="text-secondary text-3xl">MANTENIMIENTO</H2>
    </a>
  </div>
</div>
