<app-title-page [title]="title" [page]="page" />
<app-filter [config]="config" (filters)="filtersData($event)" />
<div class="bg-white p-4 my-4 rounded shadow relative z-auto">
  <app-filter-date [route]="routeGo" [labelRoute]="titleRouteGo" (filterDate)="filterDateAction($event)"></app-filter-date>
  <app-data-list [data]="assists$ | async" [columns]="columns" [page]="page" [titleTable]="titleDays" (valueDay)="onChangeValueDay($event)" />
</div>
<ng-container *ngIf="isOpen">
  <app-modal [title]="titleModal" [isOpen]="isOpen" (closeEvent)="handleClose()">
    <app-update-assist></app-update-assist>
  </app-modal>
</ng-container>
