<div class="relative">
  <!-- Trigger element -->
  <div
    (mouseenter)="showTooltip()"
    (mouseleave)="hideTooltip()"
    class="cursor-pointer">
    <ng-content></ng-content>
  </div>

  <!-- Tooltip content -->
  <div
    *ngIf="isVisible"
    [class]="tooltipPositionClass"
    [ngClass]="type === 'table' ? 'px-2 py-1 text-xs' : 'px-3 py-2 text-sm'"
    class="absolute z-50 font-medium text-white bg-gray-800 rounded-lg shadow-sm"
    role="tooltip">
    {{ text }}
    <!-- Tooltip arrow -->
    <!-- <div
      [class]="arrowPositionClass"
      class="absolute w-2 h-2 bg-gray-900 rotate-45">
    </div> -->
  </div>
</div>
