<h3 class="text-xl text-gray-800 font-semibold mb-2">TAREO</h3>
<div class="flex flex-wrap -mx-4">
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="asignaciones">
      <h3 class="text-xl font-semibold mb-2">ASIGNACIÓN</h3>
      <p>Asignación de personal a unidad por turno</p>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="reasignaciones">
      <h3 class="text-xl font-semibold mb-2">REASIGNACIÓN</h3>
      <p>Reasignación de personal a otra unidad</p>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="asistencias">
      <h3 class="text-xl font-semibold mb-2">ASISTENCIAS</h3>
      <p>Asistencias diarias de personal</p>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="asignaciones">
      <h3 class="text-xl font-semibold mb-2">DESCANSOS</h3>
      <p>Descansos de personal</p>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="asignaciones">
      <h3 class="text-xl font-semibold mb-2">PERMISOS</h3>
      <p>Permisos de personal por licencias, vacaciones, etc</p>
    </a>
  </div>
  <div class="p-4 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
    <a class="inline-block bg-gray-200 hover:bg-gray-300 border-t-4 border-main shadow p-6 w-full h-full text-gray_dark_600 hover:text-black transition-colors text-center" routerLink="asignaciones">
      <h3 class="text-xl font-semibold mb-2">SUSPENSIÓN</h3>
      <p>Suspensión de personal por periodo</p>
    </a>
  </div>
</div>
