<app-title-page
  [title]="title"
  [page]="page"
  [numTrashed]="(trashedWorkers$ | async)?.length ?? 0">
</app-title-page>
<app-filter [config]="config" (filters)="filtersData($event)"></app-filter>
<app-data-list
  [data]="workers$ | async"
  [columns]="columns"
  [page]="page"
  [areAllSelected]="(areAllSelected$ | async) ?? false"
  [hasSelectedItem]="(hasSelectedItems$ | async) ?? false"
  (searchList)="onSearch($event)"
  (deleteItem)="onDelete($event)"
  (deleteAll)="onDeleteAll()"
  (toggleItem)="onToggleItem($event)"
  (toggleAll)="onToggleAll($event)">
</app-data-list>
