<app-title-page
  [title]="title"
  [page]="page">
</app-title-page>
<app-filter [config]="config" (filters)="filtersData($event)"></app-filter>
<div class="bg-white p-4 my-4 rounded shadow relative z-auto">
  <app-actions
    [page]="page"
    [hasSelectedItem]="(hasSelectedItems$ | async) ?? false"
    (deleteAll)="onDeleteAll()"
    (restoreAll)="onRestoreAll()">
  </app-actions>
  <app-data-list
    [page]="page"
    [data]="centers$ | async"
    [columns]="columns"
    [areAllSelected]="(areAllSelected$ | async) ?? false"
    (deleteItem)="onDelete($event)"
    (restoreItem)="onRestore($event)"
    (toggleItem)="onToggleItem($event)"
    (toggleAll)="onToggleAll($event)">
  </app-data-list>
</div>
